.btn{
    background-color:#B68C5A;
    width: 220px;
    height: 64px;
    margin-left: 20px;
    font-size: 18px;
}

.back-img{
    background-image: url('/images/banner.png');
    background-image: cover;
    width: 1170px;
    height: 550px;
    margin-top:70px;
    background-position: center;
}