.btn{
    background-color:#B68C5A;
    width: 220px;
    height: 64px;
    margin-left: 20px;
    font-size: 18px;
}

.back-img{
    background-image: url('/images/banner.png');
    background-image: cover;
    width: 1170px;
    height: 550px;
    margin-top:70px;
    background-position: center;
    margin: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
}

.banner-info{
    text-align: center;
    color: white;
    padding: 30px;
    
    
}

.banner-title{
    font-size:40px;
    margin-bottom: 10px;
    margin-top:50px;
}

.input-field{
    width: 500px;
    height: 56px;
    background-color: #FFFFFF;
    border-radius: 20px;
    
}

.input-field:hover{
    background-color: tomato;
}

/* here carousel pic style */

.carou-img{
    width: 1170px;
    height: 500px;
   
}

.carou-img-div{
    position: relative;
    bottom: 400px;
   
  
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}
.carou-img-2{
    width: 10%;
    text-align: center;
    margin: auto;
}





/* here media queries part */

/* this is for mobile device */

@media screen and (max-width:577px) {
    .back-img{
        width: 100%;
        text-align: center;
    }

    .banner-item{
      
        justify-content:right;
        gap: 20px;
        width:auto;
    }

    .carou-img{
        width: 100%;
    }

    
}


/* here for medium device */

@media screen and (min-width:576px) and (max-width:992px){
    .back-img{
        width: 100%;
        text-align: center;
    }
    
}